<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br>
<!-- USED SOURCE FOR TIME:  http://www.ruby-doc.org/core-1.9.3/Time.html -->
		<strong><font color="red">Last Account Activity:</strong><br>
			<!-- <%= @user_remember =%></font>     // this doesn't work...-->
			<!-- updated_at only takes the last EDIT and not last login...  can't figure it out -->
			<%= ((Time.now - @user.updated_at)/1.hour).round(1) %> hours ago</font>
    </td>
  </tr>
</table>